.offcanvas-title{
    color:rgb(203, 203, 203);
}

nav li{
    padding: 2%;
    margin-bottom: 1em;
}

nav a{
    color: rgb(203, 203, 203);
    text-decoration: none;
}

nav a:hover{
    color: rgba(40, 238, 215, 0.7);
}

.title{
    font-size: 8vh;
    font-family: 'Cormorant', monospace;
    margin-top: 5vh;
    text-align: center;
    padding: 3%;
}

.main-body{
    padding: 3%;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bg.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.card{
    padding: 3%;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 5px 5px 10px 5px rgba(172, 251, 241, 0.2);
    color: rgb(203, 203, 203);
}

.card-body, .card-text{
    color: rgb(203, 203, 203);

}